<h1>Namaste!</h1>

<p>You can reach me on <a href="https://www.linkedin.com/in/kuldeep-patil-b8a96734/"> Linkedin </a></p>

<p><a href="mailto:cooldeep25@gmail.com">Send me an email @ cooldeep25@gmail.com</a></p>

</hr>

<a href="http://cooldeep25.gitlab.io">You are here</a>

</hr>
This website is built using help here <a href="https://about.gitlab.com/blog/2016/04/07/gitlab-pages-setup/"> Gitlab pages Setup Blog</a>
